body {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    /**把body的默认外边界默认8px归零**/
    margin: 0px;
    background-color: #f5f5f5;
}

header{
    /* 让块级元素居中 */
    width: 1000px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: whitesmoke;
}

header>img{
    float: left;
    margin-left: 40px;
}

header>h1{
    float: left;
    color: #4F4D4E;
    font-size: 24px;
    margin-left: 15px;
    margin-top: 10px;
    /**去掉h1自带的加粗效果*/
    font-weight: normal;
}

#form_div{
    height: 560px;
    width: 100%;
    overflow: hidden;
    background-image: url("http://doc.canglaoshi.org/tstore_v1/images/regist.png");
}

#form_div>div{
    width: 280px;
    height: 296px;
    background-color: rgba(0,0,0,0.3);
    float: right;
    margin: 122px 122px 0 0 ;
    /** 添加10内间距**/
    padding: 10px;

}

#form_div>div>p{
    margin: 0px;
    font-size: 18px;
    line-height: 40px;
    color: white;
    border-bottom: 1px solid #f0f0f0;
}

p>a{

    float: right;
    font-size: 12px;
    text-decoration: none;
    color: #f0f0f0;
    /*如果想微调某个标签的位置
    又不希望其他内容跟着动，则使用以下方案：*/
    position: relative;
    top: 5px;
}

.input_text{
    /*给下级元素做唯一参考*/
    position: relative;
}

.input_text>input{
    border: 0;
    padding: 10px 20px;
    width: 240px;
    margin-top: 16px;
}
.input_text>img{
    
    position: absolute;
    top: 20px;
    right: 15px;
}
